$mainColorWebsite: #ffffff;
$primaryBgrColor: #f1f1f2;
$secondaryBgrColor: #f7941e;
$auxiliaryBgrColor: #231f20;
$mainColor: #000000;
$secondaryColor: #f7941e;
$hedColor: #fafafa;

body {
    background-color: $mainColorWebsite;
}